*.iml
.gradle/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
/app/release/
/app/debug/
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations
*.hprof
.navigation/
/gradle/wrapper/gradle-wrapper.jar
